# Mini Project 3: COVID-19 Data Analysis and Machine Learning

#### Created by Group 7 - Kamilla, Jeanette, Juvena

## Objective

This assignment aims to develop practical skills in data analysis, visualization, and machine learning using real-world COVID-19 data. The project focuses on exploring global pandemic-related indicators to uncover trends, build predictive models, and apply both supervised and unsupervised learning techniques using Python.

Before we begin analyzing the COVID-19 dataset, we need to import a few essential Python libraries that will help us manipulate the data, build models, and visualize our findings:

- **Pandas**: This is a powerful library used to handle and manipulate data in tables (called DataFrames).
- **NumPy**: It helps with numerical operations, especially when we work with arrays or need to do math.
- **Matplotlib** and **Seaborn**: These are popular libraries for creating visual charts and graphs. We'll use them to help us understand the data better by seeing it.
- **SciPy (stats module)**: This gives us access to statistical tools like checking if data is normally distributed.

We'll also configure default styles for our plots to ensure they're clean, visually appealing, and easy to interpret.

In [278]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn import metrics
from scipy.spatial.distance import cdist
from sklearn import preprocessing as prep
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Set plot styles for better visualization
plt.style.use('seaborn-v0_8-whitegrid')
sns.set_palette("Set2")
fl

--------

# 1. Data wrangling and exploration

### Load the Data

Now that we have our tools ready, the next step is to load the COVID-19 dataset into Python so we can start analyzing it.

In this case, weâ€™re working with a single dataset:

- **OWID COVID-19 Latest Data**: a CSV file that contains country-level information on cases, deaths, vaccinations, testing, and various socioeconomic indicators.

We'll use Pandas to read the CSV file and store it as a DataFrame. To make our code cleaner and reusable, we'll define a simple function that loads the data and performs some initial checks. This way, we can easily reload or replace the dataset if needed in future steps.

In [283]:
# File paths for the covid datasets. (dataset: last updated 2024-08-04)
dataset_covid = 'Dataset/owid-covid-latest.csv'

# Function to load the Excel files
def load_csv_to_dataframe(file_path):
    # Reads the Excel file and skips the first row if it contains a description or title
    df = pd.read_csv(file_path)
    return df

# Load datasets
print("..Loading COVID-19 dataset")
df_covid = load_csv_to_dataframe(dataset_covid)

..Loading COVID-19 dataset

### Explore the Data

After loading the dataset, we want to explore it to understand what kind of information it contains and how it's structured.

To do this, we can use several helpful Pandas functions such as `shape`, `types`, `info()`, `head()`, `tail()`, `sample()`, `describe()` and `isnull().sum()`. These functions will give us insights into the number of rows and columns, the data types of each column, a summary of the data, and any missing values. 

This exploration is crucial as it helps us identify potential issues or areas that need further cleaning or transformation before we proceed with our analysis.

In [286]:
# Check the shape of the DataFrame (rows, columns)
df_covid.shape

(247, 67)

In [287]:
# Display the types of attributes (colum names) in the DataFrame
df_covid.dtypes

iso_code                                    object
continent                                   object
location                                    object
last_updated_date                           object
total_cases                                float64
                                            ...
population                                 float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

In [288]:
# Gives an overview of the DataFrame
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    247 non-null    object
 1   continent                                   235 non-null    object
 2   location                                    247 non-null    object
 3   last_updated_date                           247 non-null    object
 4   total_cases                                 246 non-null    float64
 5   new_cases                                   242 non-null    float64
 6   new_cases_smoothed                          242 non-null    float64
 7   total_deaths                                246 non-null    float64
 8   new_deaths                                  243 non-null    float64
 9   new_deaths_smoothed                         243 non-null    float64
 10  total_cases_per_million                     246 non-null    float64
 11  new_cases_per_million                       242 non-null    float64
 12  new_cases_smoothed_per_million              242 non-null    float64
 13  total_deaths_per_million                    246 non-null    float64
 14  new_deaths_per_million                      243 non-null    float64
 15  new_deaths_smoothed_per_million             243 non-null    float64
 16  reproduction_rate                           0 non-null      float64
 17  icu_patients                                3 non-null      float64
 18  icu_patients_per_million                    3 non-null      float64
 19  hosp_patients                               3 non-null      float64
 20  hosp_patients_per_million                   3 non-null      float64
 21  weekly_icu_admissions                       2 non-null      float64
 22  weekly_icu_admissions_per_million           2 non-null      float64
 23  weekly_hosp_admissions                      2 non-null      float64
 24  weekly_hosp_admissions_per_million          2 non-null      float64
 25  total_tests                                 0 non-null      float64
 26  new_tests                                   0 non-null      float64
 27  total_tests_per_thousand                    0 non-null      float64
 28  new_tests_per_thousand                      0 non-null      float64
 29  new_tests_smoothed                          0 non-null      float64
 30  new_tests_smoothed_per_thousand             0 non-null      float64
 31  positive_rate                               0 non-null      float64
 32  tests_per_case                              0 non-null      float64
 33  tests_units                                 0 non-null      float64
 34  total_vaccinations                          17 non-null     float64
 35  people_vaccinated                           15 non-null     float64
 36  people_fully_vaccinated                     15 non-null     float64
 37  total_boosters                              17 non-null     float64
 38  new_vaccinations                            14 non-null     float64
 39  new_vaccinations_smoothed                   17 non-null     float64
 40  total_vaccinations_per_hundred              17 non-null     float64
 41  people_vaccinated_per_hundred               15 non-null     float64
 42  people_fully_vaccinated_per_hundred         15 non-null     float64
 43  total_boosters_per_hundred                  17 non-null     float64
 44  new_vaccinations_smoothed_per_million       17 non-null     float64
 45  new_people_vaccinated_smoothed              15 non-null     float64
 46  new_people_vaccinated_smoothed_per_hundred  15 non-null     float64
 47  stringency_index                            0 non-null      float64
 48  population_density                          214 non-null    float64
 49  median_age                                  198 non-null    float64
 50  aged_65_older                               192 non-null    float64
 51  aged_70_older                               196 non-null    float64
 52  gdp_per_capita                              195 non-null    float64
 53  extreme_poverty                             126 non-null    float64
 54  cardiovasc_death_rate                       195 non-null    float64
 55  diabetes_prevalence                         206 non-null    float64
 56  female_smokers                              147 non-null    float64
 57  male_smokers                                145 non-null    float64
 58  handwashing_facilities                      96 non-null     float64
 59  hospital_beds_per_thousand                  173 non-null    float64
 60  life_expectancy                             231 non-null    float64
 61  human_development_index                     190 non-null    float64
 62  population                                  247 non-null    float64
 63  excess_mortality_cumulative_absolute        0 non-null      float64
 64  excess_mortality_cumulative                 0 non-null      float64
 65  excess_mortality                            0 non-null      float64
 66  excess_mortality_cumulative_per_million     0 non-null      float64
dtypes: float64(63), object(4)
memory usage: 129.4+ KB

In [289]:
# Display the first 5 rows of the DataFrame
df_covid.head()

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2024-08-04,235214.0,0.0,0.000,7998.0,0.0,0.0,...,NaN,37.746,0.50,64.83,0.511,4.112877e+07,NaN,NaN,NaN,NaN
1,OWID_AFR,NaN,Africa,2024-08-04,13145380.0,36.0,5.143,259117.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
2,ALB,Europe,Albania,2024-08-04,335047.0,0.0,0.000,3605.0,0.0,0.0,...,51.2,NaN,2.89,78.57,0.795,2.842318e+06,NaN,NaN,NaN,NaN
3,DZA,Africa,Algeria,2024-08-04,272139.0,18.0,2.571,6881.0,0.0,0.0,...,30.4,83.741,1.90,76.88,0.748,4.490323e+07,NaN,NaN,NaN,NaN
4,ASM,Oceania,American Samoa,2024-08-04,8359.0,0.0,0.000,34.0,0.0,0.0,...,NaN,NaN,NaN,73.74,NaN,4.429500e+04,NaN,NaN,NaN,NaN

In [290]:
# Display the last 5 rows of the DataFrame
df_covid.tail()

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
242,WLF,Oceania,Wallis and Futuna,2024-08-04,3760.0,0.0,0.000,9.0,0.0,0.000,...,NaN,NaN,NaN,79.94,NaN,1.159600e+04,NaN,NaN,NaN,NaN
243,OWID_WRL,NaN,World,2024-08-14,775866783.0,47169.0,6738.429,7057132.0,815.0,116.429,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
244,YEM,Asia,Yemen,2024-08-04,11945.0,0.0,0.000,2159.0,0.0,0.000,...,29.200,49.542,0.700,66.12,0.470,3.369661e+07,NaN,NaN,NaN,NaN
245,ZMB,Africa,Zambia,2024-08-04,349842.0,18.0,2.571,4077.0,0.0,0.000,...,24.700,13.938,2.000,63.89,0.584,2.001767e+07,NaN,NaN,NaN,NaN
246,ZWE,Africa,Zimbabwe,2024-08-04,266386.0,0.0,0.000,5740.0,0.0,0.000,...,30.700,36.791,1.700,61.49,0.571,1.632054e+07,NaN,NaN,NaN,NaN

In [291]:
# Display a random sample of 5 rows from the DataFrame
df_covid.sample(5)

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
234,VIR,North America,United States Virgin Islands,2024-08-04,25389.0,0.0,0.000,132.0,0.0,0.0,...,NaN,NaN,NaN,80.58,NaN,99479.0,NaN,NaN,NaN,NaN
109,JAM,North America,Jamaica,2024-08-04,157181.0,12.0,1.714,3611.0,0.0,0.0,...,28.6,66.425,1.70,74.47,0.734,2827382.0,NaN,NaN,NaN,NaN
152,NRU,Oceania,Nauru,2024-08-04,5393.0,0.0,0.000,1.0,0.0,0.0,...,36.9,NaN,5.00,59.96,NaN,12691.0,NaN,NaN,NaN,NaN
17,BHR,Asia,Bahrain,2024-08-04,696614.0,0.0,0.000,1536.0,0.0,0.0,...,37.6,NaN,2.00,77.29,0.852,1472237.0,NaN,NaN,NaN,NaN
21,BEL,Europe,Belgium,2024-08-04,4872829.0,1277.0,182.429,34339.0,0.0,0.0,...,31.4,NaN,5.64,81.63,0.931,11655923.0,NaN,NaN,NaN,NaN

In [292]:
# Gives summary statistics for all numerical columns in the dataset
df_covid.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.460000e+02,242.000000,242.000000,2.460000e+02,243.000000,243.00000,246.000000,242.000000,242.000000,246.000000,...,145.000000,96.000000,173.000000,231.000000,190.000000,2.470000e+02,0.0,0.0,0.0,0.0
mean,1.336634e+07,885.607438,126.515355,1.198689e+05,14.032922,2.00472,203988.255797,22.204909,3.172136,1271.427736,...,32.909897,50.788844,3.097012,73.660866,0.722500,1.307656e+08,NaN,NaN,NaN,NaN
std,6.568130e+07,4854.786157,693.540908,5.747240e+05,92.179347,13.16853,200456.902140,82.962646,11.851812,1322.697453,...,13.621757,32.124848,2.555777,7.405725,0.149398,6.684333e+08,NaN,NaN,NaN,NaN
min,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,NaN,NaN,NaN,NaN
25%,2.750950e+04,0.000000,0.000000,1.837500e+02,0.000000,0.00000,21257.766500,0.000000,0.000000,144.808250,...,22.600000,20.482000,1.300000,69.545000,0.603000,4.294955e+05,NaN,NaN,NaN,NaN
50%,2.320985e+05,0.000000,0.000000,2.205500e+03,0.000000,0.00000,135384.895000,0.000000,0.000000,877.689000,...,33.100000,49.690500,2.500000,75.050000,0.740000,5.970430e+06,NaN,NaN,NaN,NaN
75%,1.703974e+06,5.500000,0.785500,1.938850e+04,0.000000,0.00000,340625.300000,0.232000,0.033250,2032.222000,...,41.300000,82.686750,4.200000,79.285000,0.828750,2.895671e+07,NaN,NaN,NaN,NaN
max,7.758668e+08,47169.000000,6738.429000,7.057132e+06,815.000000,116.42900,763598.600000,672.437000,96.062000,6601.110000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,NaN,NaN,NaN,NaN

##### Summary of exploring the data

After exploring the dataframe, we found that it contains a large number of columns, many of which are not useful for our analysis or modeling goals. While some columns provide valuable information (like total cases, deaths, and vaccination rates), others are either redundant, mostly empty, or irrelevant.

This highlights the need for a thorough data cleaning step to remove unnecessary columns, handle missing values, and focus only on the most relevant features for our machine learning tasks.

### Clean the Data

After loading and exploring the data, we need to clean it to ensure that our analysis is accurate and meaningful. Data cleaning involves several steps, including: checking for missing values, removing duplicates, and converting data types.

In [297]:
# Check for missing values in the DataFrame
df_covid.isnull().sum()

iso_code                                     0
continent                                   12
location                                     0
last_updated_date                            0
total_cases                                  1
                                          ...
population                                   0
excess_mortality_cumulative_absolute       247
excess_mortality_cumulative                247
excess_mortality                           247
excess_mortality_cumulative_per_million    247
Length: 67, dtype: int64

In [298]:
# Above shows there is a lot of columns with no values, so we want to remove those

In [299]:
# before securing OWID fields, we want to remove the irrelevant rows like High-income countries etc.
rows_to_remove = ["OWID_UMC", "OWID_WRL", "OWID_LMC", "OWID_LIC", "OWID_HIC"]
df_removed_rows = df_covid[~df_covid["iso_code"].isin(rows_to_remove)]

In [300]:
#checking if the above rows are removed
df_removed_rows.tail()

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
241,VNM,Asia,Vietnam,2024-08-04,11624000.0,0.0,0.000,43206.0,0.0,0.0,...,45.9,85.847,2.6,75.40,0.704,98186856.0,NaN,NaN,NaN,NaN
242,WLF,Oceania,Wallis and Futuna,2024-08-04,3760.0,0.0,0.000,9.0,0.0,0.0,...,NaN,NaN,NaN,79.94,NaN,11596.0,NaN,NaN,NaN,NaN
244,YEM,Asia,Yemen,2024-08-04,11945.0,0.0,0.000,2159.0,0.0,0.0,...,29.2,49.542,0.7,66.12,0.470,33696612.0,NaN,NaN,NaN,NaN
245,ZMB,Africa,Zambia,2024-08-04,349842.0,18.0,2.571,4077.0,0.0,0.0,...,24.7,13.938,2.0,63.89,0.584,20017670.0,NaN,NaN,NaN,NaN
246,ZWE,Africa,Zimbabwe,2024-08-04,266386.0,0.0,0.000,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [301]:
# we will drop all columns with no values at all 
df_covid= df_removed_rows.dropna(axis=1, how='all')

In [302]:
#check if the columns are removed
df_covid.shape

(242, 52)

In [303]:
# we make a new dataset with the columns we want to keep and we think are relevant
columns_we_want_to_keep = [
    "iso_code", "continent", "location", "total_cases", "total_deaths",
    "total_cases_per_million", "total_deaths_per_million",
    "total_vaccinations", "people_vaccinated", "people_fully_vaccinated",
    "total_boosters", "new_vaccinations", "new_vaccinations_smoothed",
    "total_vaccinations_per_hundred", "people_vaccinated_per_hundred",
    "people_fully_vaccinated_per_hundred", "total_boosters_per_hundred",
    "new_vaccinations_smoothed_per_million", "new_people_vaccinated_smoothed",
    "new_people_vaccinated_smoothed_per_hundred", "population_density",
    "median_age", "aged_65_older", "aged_70_older", "cardiovasc_death_rate",
    "diabetes_prevalence", "female_smokers", "male_smokers",
    "life_expectancy", "population"
]

# removes all other columns
df_covid = df_covid[columns_we_want_to_keep]

In [304]:
#check if the columns are removed
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 242 entries, 0 to 246
Data columns (total 30 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    242 non-null    object
 1   continent                                   235 non-null    object
 2   location                                    242 non-null    object
 3   total_cases                                 241 non-null    float64
 4   total_deaths                                241 non-null    float64
 5   total_cases_per_million                     241 non-null    float64
 6   total_deaths_per_million                    241 non-null    float64
 7   total_vaccinations                          13 non-null     float64
 8   people_vaccinated                           11 non-null     float64
 9   people_fully_vaccinated                     11 non-null     float64
 10  total_boosters                              13 non-null     float64
 11  new_vaccinations                            10 non-null     float64
 12  new_vaccinations_smoothed                   13 non-null     float64
 13  total_vaccinations_per_hundred              13 non-null     float64
 14  people_vaccinated_per_hundred               11 non-null     float64
 15  people_fully_vaccinated_per_hundred         11 non-null     float64
 16  total_boosters_per_hundred                  13 non-null     float64
 17  new_vaccinations_smoothed_per_million       13 non-null     float64
 18  new_people_vaccinated_smoothed              11 non-null     float64
 19  new_people_vaccinated_smoothed_per_hundred  11 non-null     float64
 20  population_density                          213 non-null    float64
 21  median_age                                  197 non-null    float64
 22  aged_65_older                               191 non-null    float64
 23  aged_70_older                               195 non-null    float64
 24  cardiovasc_death_rate                       194 non-null    float64
 25  diabetes_prevalence                         205 non-null    float64
 26  female_smokers                              146 non-null    float64
 27  male_smokers                                144 non-null    float64
 28  life_expectancy                             230 non-null    float64
 29  population                                  242 non-null    float64
dtypes: float64(27), object(3)
memory usage: 58.6+ KB

In [305]:
# check how the dataset looks and how we should proceed
df_covid

,iso_code,continent,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,...,population_density,median_age,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,population
0,AFG,Asia,Afghanistan,235214.0,7998.0,5796.468,197.098,NaN,NaN,NaN,...,54.422,18.6,2.581,1.337,597.029,9.59,NaN,NaN,64.83,4.112877e+07
1,OWID_AFR,NaN,Africa,13145380.0,259117.0,9088.877,179.157,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.426737e+09
2,ALB,Europe,Albania,335047.0,3605.0,118491.020,1274.926,NaN,NaN,NaN,...,104.871,38.0,13.188,8.643,304.195,10.08,7.1,51.2,78.57,2.842318e+06
3,DZA,Africa,Algeria,272139.0,6881.0,5984.050,151.306,NaN,NaN,NaN,...,17.348,29.1,6.211,3.857,278.364,6.73,0.7,30.4,76.88,4.490323e+07
4,ASM,Oceania,American Samoa,8359.0,34.0,172831.600,702.988,NaN,NaN,NaN,...,278.205,NaN,NaN,NaN,283.750,NaN,NaN,NaN,73.74,4.429500e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,VNM,Asia,Vietnam,11624000.0,43206.0,116612.400,433.444,NaN,NaN,NaN,...,308.127,32.6,7.150,4.718,245.465,6.00,1.0,45.9,75.40,9.818686e+07
242,WLF,Oceania,Wallis and Futuna,3760.0,9.0,326928.100,782.541,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,1.159600e+04
244,YEM,Asia,Yemen,11945.0,2159.0,312.509,56.484,NaN,NaN,NaN,...,53.508,20.3,2.922,1.583,495.003,5.35,7.6,29.2,66.12,3.369661e+07
245,ZMB,Africa,Zambia,349842.0,4077.0,17359.357,202.303,NaN,NaN,NaN,...,22.995,17.7,2.480,1.542,234.499,3.94,3.1,24.7,63.89,2.001767e+07
246,ZWE,Africa,Zimbabwe,266386.0,5740.0,16577.570,357.208,NaN,NaN,NaN,...,42.729,19.6,2.822,1.882,307.846,1.82,1.6,30.7,61.49,1.632054e+07

In [307]:
# before removing iso_code column, we want to secure OWID fields, because it could be relevant data
rows_to_secure = ["OWID_AFR", "OWID_ASI", "OWID_EUR", "OWID_EUN", "OWID_NAM", "OWID_OCE", "OWID_SAM"]
df_continents = df_covid[df_covid["iso_code"].isin(rows_to_secure)]

In [308]:
# check 
df_continents

,iso_code,continent,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,...,population_density,median_age,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,population
1,OWID_AFR,NaN,Africa,13145380.0,259117.0,9088.877,179.157,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.426737e+09
12,OWID_ASI,NaN,Asia,301499099.0,1637249.0,63948.200,347.262,9.104305e+09,3.689439e+09,3.462095e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.721383e+09
70,OWID_EUR,NaN,Europe,252916868.0,2102483.0,337990.340,2809.694,1.399334e+09,5.238143e+08,4.937513e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.448078e+08
71,OWID_EUN,NaN,European Union (27),185822587.0,1262988.0,413754.220,2812.180,9.511133e+08,3.381196e+08,3.279674e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.501468e+08
161,OWID_NAM,NaN,North America,124492666.0,1671178.0,205992.190,2765.220,1.158547e+09,4.585635e+08,3.944939e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.003237e+08
166,OWID_OCE,NaN,Oceania,15003352.0,32918.0,333039.800,730.704,8.835881e+07,2.896050e+07,2.807290e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.503886e+07
207,OWID_SAM,NaN,South America,68809418.0,1354187.0,159838.720,3145.667,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.368167e+08

In [309]:
# remove columns there are irrelavnt from df_continents
df_continents_cleaned= df_continents.dropna(axis=1, how='all')
df_continents_cleaned

,iso_code,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,population
1,OWID_AFR,Africa,13145380.0,259117.0,9088.877,179.157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.426737e+09
12,OWID_ASI,Asia,301499099.0,1637249.0,63948.200,347.262,9.104305e+09,3.689439e+09,3.462095e+09,1.815177e+09,258.0,193.0,192.83,78.14,73.33,38.45,0.0,10.0,0.0,4.721383e+09
70,OWID_EUR,Europe,252916868.0,2102483.0,337990.340,2809.694,1.399334e+09,5.238143e+08,4.937513e+08,3.650999e+08,64.0,17.0,187.88,70.33,66.29,49.02,0.0,2.0,0.0,7.448078e+08
71,OWID_EUN,European Union (27),185822587.0,1262988.0,413754.220,2812.180,9.511133e+08,3.381196e+08,3.279674e+08,2.824388e+08,64.0,17.0,211.29,75.11,72.86,62.74,0.0,2.0,0.0,4.501468e+08
161,OWID_NAM,North America,124492666.0,1671178.0,205992.190,2765.220,1.158547e+09,4.585635e+08,3.944939e+08,2.562648e+08,442.0,442.0,192.99,76.39,65.71,42.69,1.0,0.0,0.0,6.003237e+08
166,OWID_OCE,Oceania,15003352.0,32918.0,333039.800,730.704,8.835881e+07,2.896050e+07,2.807290e+07,2.540095e+07,1130.0,1130.0,196.18,64.30,62.33,56.40,25.0,0.0,0.0,4.503886e+07
207,OWID_SAM,South America,68809418.0,1354187.0,159838.720,3145.667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.368167e+08

In [310]:
df_continents_cleaned.shape

(7, 20)

In [311]:
#removing columns there are irrelevant 
df_continents_cleaned = df_continents_cleaned.drop(['new_vaccinations_smoothed_per_million', 'new_people_vaccinated_smoothed', 'new_people_vaccinated_smoothed_per_hundred'], axis=1)

df_continents_cleaned

,iso_code,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,population
1,OWID_AFR,Africa,13145380.0,259117.0,9088.877,179.157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.426737e+09
12,OWID_ASI,Asia,301499099.0,1637249.0,63948.200,347.262,9.104305e+09,3.689439e+09,3.462095e+09,1.815177e+09,258.0,193.0,192.83,78.14,73.33,38.45,4.721383e+09
70,OWID_EUR,Europe,252916868.0,2102483.0,337990.340,2809.694,1.399334e+09,5.238143e+08,4.937513e+08,3.650999e+08,64.0,17.0,187.88,70.33,66.29,49.02,7.448078e+08
71,OWID_EUN,European Union (27),185822587.0,1262988.0,413754.220,2812.180,9.511133e+08,3.381196e+08,3.279674e+08,2.824388e+08,64.0,17.0,211.29,75.11,72.86,62.74,4.501468e+08
161,OWID_NAM,North America,124492666.0,1671178.0,205992.190,2765.220,1.158547e+09,4.585635e+08,3.944939e+08,2.562648e+08,442.0,442.0,192.99,76.39,65.71,42.69,6.003237e+08
166,OWID_OCE,Oceania,15003352.0,32918.0,333039.800,730.704,8.835881e+07,2.896050e+07,2.807290e+07,2.540095e+07,1130.0,1130.0,196.18,64.30,62.33,56.40,4.503886e+07
207,OWID_SAM,South America,68809418.0,1354187.0,159838.720,3145.667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.368167e+08

In [312]:
df_continents_cleaned.shape

(7, 17)

In [313]:
df_continents_cleaned.duplicated().sum()

0

In [314]:
# removing OWID fields there are irrelevant for this data
rows_to_remove = ["OWID_AFR", "OWID_ASI", "OWID_EUR", "OWID_EUN", "OWID_NAM", "OWID_OCE", "OWID_SAM"]
df_covid_removed_rows = df_covid[~df_covid['iso_code'].isin(rows_to_remove)]
df_covid_removed_rows

,iso_code,continent,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,...,population_density,median_age,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,population
0,AFG,Asia,Afghanistan,235214.0,7998.0,5796.468,197.098,NaN,NaN,NaN,...,54.422,18.6,2.581,1.337,597.029,9.59,NaN,NaN,64.83,41128772.0
2,ALB,Europe,Albania,335047.0,3605.0,118491.020,1274.926,NaN,NaN,NaN,...,104.871,38.0,13.188,8.643,304.195,10.08,7.1,51.2,78.57,2842318.0
3,DZA,Africa,Algeria,272139.0,6881.0,5984.050,151.306,NaN,NaN,NaN,...,17.348,29.1,6.211,3.857,278.364,6.73,0.7,30.4,76.88,44903228.0
4,ASM,Oceania,American Samoa,8359.0,34.0,172831.600,702.988,NaN,NaN,NaN,...,278.205,NaN,NaN,NaN,283.750,NaN,NaN,NaN,73.74,44295.0
5,AND,Europe,Andorra,48015.0,159.0,602280.440,1994.431,NaN,NaN,NaN,...,163.755,NaN,NaN,NaN,109.135,7.97,29.0,37.8,83.73,79843.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,VNM,Asia,Vietnam,11624000.0,43206.0,116612.400,433.444,NaN,NaN,NaN,...,308.127,32.6,7.150,4.718,245.465,6.00,1.0,45.9,75.40,98186856.0
242,WLF,Oceania,Wallis and Futuna,3760.0,9.0,326928.100,782.541,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,11596.0
244,YEM,Asia,Yemen,11945.0,2159.0,312.509,56.484,NaN,NaN,NaN,...,53.508,20.3,2.922,1.583,495.003,5.35,7.6,29.2,66.12,33696612.0
245,ZMB,Africa,Zambia,349842.0,4077.0,17359.357,202.303,NaN,NaN,NaN,...,22.995,17.7,2.480,1.542,234.499,3.94,3.1,24.7,63.89,20017670.0
246,ZWE,Africa,Zimbabwe,266386.0,5740.0,16577.570,357.208,NaN,NaN,NaN,...,42.729,19.6,2.822,1.882,307.846,1.82,1.6,30.7,61.49,16320539.0

In [350]:
# remove columns there are irrelavnt from df_covid_cleaned
df_covid_cleaned = df_covid_removed_rows.drop([
    "total_vaccinations", "people_vaccinated", "people_fully_vaccinated",
    "total_boosters", "new_vaccinations", "new_vaccinations_smoothed",
    "total_vaccinations_per_hundred", "people_vaccinated_per_hundred",
    "people_fully_vaccinated_per_hundred", "total_boosters_per_hundred",
    "new_vaccinations_smoothed_per_million", "new_people_vaccinated_smoothed",
    "new_people_vaccinated_smoothed_per_hundred"], axis=1)
df_covid_cleaned

,iso_code,continent,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,population_density,median_age,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,population
0,AFG,Asia,Afghanistan,235214.0,7998.0,5796.468,197.098,54.422,18.6,2.581,1.337,597.029,9.59,NaN,NaN,64.83,41128772.0
2,ALB,Europe,Albania,335047.0,3605.0,118491.020,1274.926,104.871,38.0,13.188,8.643,304.195,10.08,7.1,51.2,78.57,2842318.0
3,DZA,Africa,Algeria,272139.0,6881.0,5984.050,151.306,17.348,29.1,6.211,3.857,278.364,6.73,0.7,30.4,76.88,44903228.0
4,ASM,Oceania,American Samoa,8359.0,34.0,172831.600,702.988,278.205,NaN,NaN,NaN,283.750,NaN,NaN,NaN,73.74,44295.0
5,AND,Europe,Andorra,48015.0,159.0,602280.440,1994.431,163.755,NaN,NaN,NaN,109.135,7.97,29.0,37.8,83.73,79843.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,VNM,Asia,Vietnam,11624000.0,43206.0,116612.400,433.444,308.127,32.6,7.150,4.718,245.465,6.00,1.0,45.9,75.40,98186856.0
242,WLF,Oceania,Wallis and Futuna,3760.0,9.0,326928.100,782.541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,11596.0
244,YEM,Asia,Yemen,11945.0,2159.0,312.509,56.484,53.508,20.3,2.922,1.583,495.003,5.35,7.6,29.2,66.12,33696612.0
245,ZMB,Africa,Zambia,349842.0,4077.0,17359.357,202.303,22.995,17.7,2.480,1.542,234.499,3.94,3.1,24.7,63.89,20017670.0
246,ZWE,Africa,Zimbabwe,266386.0,5740.0,16577.570,357.208,42.729,19.6,2.822,1.882,307.846,1.82,1.6,30.7,61.49,16320539.0

In [352]:
#checking for duplicates 
df_covid_cleaned.duplicated().sum()

0

# 2. Supervised machine learning: linear regression

# 3. Supervised machine learning: classification

# 4. Unsupervised machine learning: clustering

# 5. Implementation of the models in a Streamlit application